/**
 * Custom Taxonomy Autocomplete.
 */
#hierarchial-taxonomy-autocomplete {
  background: #fff;
  border: 1px solid;
  overflow: hidden;
  position: absolute;
  z-index: 100;
}

#hierarchial-taxonomy-autocomplete ul {
  list-style: none;
  list-style-image: none;
  margin: 0;
  padding: 0;
}

#hierarchial-taxonomy-autocomplete li {
  color: #000;
  cursor: default;
  white-space: pre;
  zoom: 1; /* IE7 */
}

#hierarchial-taxonomy-autocomplete li.selected {
  background: #ccc;
  color: #fff;
}

#hierarchial-taxonomy-autocomplete .item-list {
  margin: 0;
  padding: 6px 10px;
  border-color: #F4F4F4;
  white-space: normal;
}

.item-list ul {
  line-height: 13px;
}

.item-list li {
  font-size: .75em;
  font-style: italic;
  color: #999999;
  text-transform: uppercase;
  border: none;
  white-space: normal;
  padding: 0;
  display: inline;
}

.item-list li:after {
  content: " > ";
}

.item-list li.first {
  font-size: 1em;
  font-style: normal;
  color: #666666;
  text-transform: none;
  display: block;
  padding: 0;
  line-height: 20px;
}

.item-list li.first:after {
  content: "";
}

.item-list li.last:after {
  content: "";
}

.clear-hierarchial-taxonomy-autocomplete-hidden {
  display: none;
}

.item-list .display-hierarchy {
  margin: 3px;
  padding: 0px;
}
